@theme {
  --color-rorange: #fd8850;
  --color-rblue: #3aafb9;
  --color-rgray: #292f36;
  --color-rwhite: #fffcf9;
}

#blog-entry h2 {
  @apply text-2xl mt-6 mb-4;
}

#blog-entry h3 {
  @apply text-lg mt-7 mb-3;
}

#blog-entry h3 a {
  @apply hover:text-rorange;
}

#blog-entry h4 {
  @apply text-lg mt-5 mb-2;
}

#blog-entry h5 {
  @apply text-lg mt-4 mb-1;
}

#blog-entry h6 {
  @apply text-xs text-gray-500;
}

#blog-entry p {
  @apply text-sm mb-1 leading-8 font-extralight;
}

#blog-entry code {
  @apply text-sm mt-2 mb-2;
}

#blog-entry p a {
  @apply hover:text-rblue;
}

#blog-entry ul {
  @apply text-sm mb-1 font-extralight;
}

#blog-entry ul ul {
  @apply mt-1 ml-5;
}

#blog-entry ul ul ul {
  @apply ml-10;
}

#blog-entry ol li {
  @apply text-sm mb-1 font-extralight list-decimal;
}

#blog-entry li {
  @apply text-sm mb-1 list-disc list-inside;
}

#blog-entry li a {
  @apply hover:text-rblue;
}

#blog-entry table {
  @apply mt-4 mb-4 table-auto border-separate border border-rgray dark:border-rwhite w-80 sm:w-180;
}
#blog-entry th {
  @apply border-collapse border border-rgray dark:border-rwhite;
}
#blog-entry td {
  @apply border-collapse border border-rgray dark:border-rwhite;
}

@import "tailwindcss"
