<a hx-get="/blog/2025-06-20_intro_rhyn47" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-06-20_intro_rhyn47">
  <p class="mr-8 min-w-[100px]">2025-06-20</p>
  <p>RHYn47というキーボードを0から設計した話</p>
</a>
<a hx-get="/blog/2025-06-17_rhyn47" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-06-17_rhyn47">
  <p class="mr-8 min-w-[100px]">2025-06-17</p>
  <p>RHYn47というキーボードを0から設計した話、あるいは格子型配列(オーソリニア)の魅力 ~駄文編~</p>
</a>
<a hx-get="/blog/2025-05-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-05-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2025-05-31</p>
  <p>Monthly Report May 2025</p>
</a>
<a hx-get="/blog/2025-04-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-04-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2025-04-30</p>
  <p>Monthly Report Apr 2025</p>
</a>
<a hx-get="/blog/2025-03-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-03-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2025-03-31</p>
  <p>Monthly Report Mar 2025</p>
</a>
<a hx-get="/blog/2025-02-28_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-02-28_monthly-report">
  <p class="mr-8 min-w-[100px]">2025-02-28</p>
  <p>Monthly Report Feb 2025</p>
</a>
<a hx-get="/blog/2025-01-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2025-01-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2025-01-31</p>
  <p>Monthly Report Jan 2025</p>
</a>
<a hx-get="/blog/2024-12-31_year-end" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-12-31_year-end">
  <p class="mr-8 min-w-[100px]">2024-12-31</p>
  <p>2025年にむけて</p>
</a>
<a hx-get="/blog/2024-12-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-12-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-12-30</p>
  <p>Monthly Report Dec 2024</p>
</a>
<a hx-get="/blog/2024-12-29_bestbuy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-12-29_bestbuy">
  <p class="mr-8 min-w-[100px]">2024-12-29</p>
  <p>2024年買って良かったモノ</p>
</a>
<a hx-get="/blog/2024-11-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-11-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-11-30</p>
  <p>Monthly Report Nov 2024</p>
</a>
<a hx-get="/blog/2024-10-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-10-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-10-31</p>
  <p>Monthly Report Oct 2024</p>
</a>
<a hx-get="/blog/2024-09-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-09-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-09-30</p>
  <p>Monthly Report Sep 2024</p>
</a>
<a hx-get="/blog/2024-08-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-08-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-08-31</p>
  <p>Monthly Report Aug 2024</p>
</a>
<a hx-get="/blog/2024-08-13_raspi-rack" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-08-13_raspi-rack">
  <p class="mr-8 min-w-[100px]">2024-08-31</p>
  <p>夏休みの宿題(工作) ~ Raspberry Piクラスタ制作 ~</p>
</a>
<a hx-get="/blog/2024-07-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-07-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-07-31</p>
  <p>Monthly Report Jul 2024</p>
</a>
<a hx-get="/blog/2024-06-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-06-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-06-30</p>
  <p>Monthly Report Jun 2024</p>
</a>
<a hx-get="/blog/2024-06-05_graffiti" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-06-05_graffiti">
  <p class="mr-8 min-w-[100px]">2024-06-05</p>
  <p>ぐちゃぐちゃな頭を整理するログ</p>
</a>
<a hx-get="/blog/2024-05-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-05-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-05-31</p>
  <p>Monthly Report May 2024</p>
</a>
<a hx-get="/blog/2024-05-19_devops-of-roadmap" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-05-19_devops-of-roadmap">
  <p class="mr-8 min-w-[100px]">2024-05-19</p>
  <p>DevOps of Roadmap</p>
</a>
<a hx-get="/blog/2024-04-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-04-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-04-30</p>
  <p>Monthly Report Apr 2024</p>
</a>
<a hx-get="/blog/2024-04-27_the_mechanics_of_linux" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-04-27_the_mechanics_of_linux">
  <p class="mr-8 min-w-[100px]">2024-04-27</p>
  <p>『Linuxのしくみ』読んだ</p>
</a>
<a hx-get="/blog/2024-03-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-03-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-03-31</p>
  <p>Monthly Report Mar 2024</p>
</a>
<a hx-get="/blog/2024-02-29_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-02-29_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-02-29</p>
  <p>Monthly Report Feb 2024</p>
</a>
<a hx-get="/blog/2024-01-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2024-01-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2024-01-31</p>
  <p>Monthly Report Jan 2024</p>
</a>
<a hx-get="/blog/2023-12-31_bestbuy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-12-31_bestbuy">
  <p class="mr-8 min-w-[100px]">2023-12-31</p>
  <p>2023年買って良かったモノ</p>
</a>
<a hx-get="/blog/2023-12-31_year-end" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-12-31_year-end">
  <p class="mr-8 min-w-[100px]">2023-12-31</p>
  <p>2024年にむけて</p>
</a>
<a hx-get="/blog/2023-12-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-12-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-12-31</p>
  <p>Monthly Report Dec 2023</p>
</a>
<a hx-get="/blog/2023-11-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-11-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-11-30</p>
  <p>Monthly Report Nov 2023</p>
</a>
<a hx-get="/blog/2023-10-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-10-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-10-31</p>
  <p>Monthly Report Oct 2023</p>
</a>
<a hx-get="/blog/2023-09-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-09-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-10-15</p>
  <p>Monthly Report Sep 2023</p>
</a>
<a hx-get="/blog/2023-08-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-08-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-08-31</p>
  <p>Monthly Report Aug 2023</p>
</a>
<a hx-get="/blog/2023-07-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-07-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-07-30</p>
  <p>Monthly Report Jul 2023</p>
</a>
<a hx-get="/blog/2023-06-30_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-06-30_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-06-30</p>
  <p>Monthly Report Jun 2023</p>
</a>
<a hx-get="/blog/2023-05-31_monthly-report" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-05-31_monthly-report">
  <p class="mr-8 min-w-[100px]">2023-05-31</p>
  <p>Monthly Report May 2023</p>
</a>
<a hx-get="/blog/2023-04-30_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-04-30_monthly-contents">
  <p class="mr-8 min-w-[100px]">2023-04-30</p>
  <p>2023年4月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2023-03-31_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-03-31_monthly-contents">
  <p class="mr-8 min-w-[100px]">2023-03-31</p>
  <p>2023年3月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2023-02-28_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-02-28_monthly-contents">
  <p class="mr-8 min-w-[100px]">2023-02-28</p>
  <p>2023年2月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2023-01-31_monthly-content" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2023-01-31_monthly-content">
  <p class="mr-8 min-w-[100px]">2023-01-31</p>
  <p>2023年1月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-12-31_year-end" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-12-31_year-end">
  <p class="mr-8 min-w-[100px]">2022-12-31</p>
  <p>2023年にむけて</p>
</a>
<a hx-get="/blog/2022-12-31_bestbuy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-12-31_bestbuy">
  <p class="mr-8 min-w-[100px]">2022-12-31</p>
  <p>2022年買って良かったモノ</p>
</a>
<a hx-get="/blog/2022-12-31_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-12-31_monthly-contents">
  <p class="mr-8 min-w-[100px]">2022-12-31</p>
  <p>2022年12月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-12-08_install-rhel91-to-conoha-vps" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-12-08_install-rhel91-to-conoha-vps">
  <p class="mr-8 min-w-[100px]">2022-12-08</p>
  <p>ConoHaのVPS割引きっぷの割引が12/9までらしいのでVPS契約してRHEL9インストールする</p>
</a>
<a hx-get="/blog/2022-12-08_introduction-patty" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-12-08_introduction-patty">
  <p class="mr-8 min-w-[100px]">2022-12-08</p>
  <p>DenoでGitリポジトリ管理とワークディレクトリ管理ができるCLIツールを作った</p>
</a>
<a hx-get="/blog/2022-11-30_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-11-30_monthly-contents">
  <p class="mr-8 min-w-[100px]">2022-11-30</p>
  <p>2022年11月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-10-31_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-10-31_monthly-contents">
  <p class="mr-8 min-w-[100px]">2022-10-31</p>
  <p>2022年10月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-09-30_monthly-contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-09-30_monthly-contents">
  <p class="mr-8 min-w-[100px]">2022-09-30</p>
  <p>2022年9月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-09-23_deno-blog" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-09-23_deno-blog">
  <p class="mr-8 min-w-[100px]">2022-09-23</p>
  <p>GitHub PagesからDeno Deployに移転した</p>
</a>
<a hx-get="/blog/2022-08-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-08-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-08-31</p>
  <p>2022年8月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-07-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-07-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-07-31</p>
  <p>2022年7月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-06-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-06-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-06-30</p>
  <p>2022年6月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-05-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-05-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-05-31</p>
  <p>2022年5月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-04-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-04-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-04-30</p>
  <p>2022年4月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-03-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-03-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-03-31</p>
  <p>2022年3月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-02-28-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-02-28-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-02-28</p>
  <p>2022年2月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2022-01-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2022-01-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2022-01-31</p>
  <p>2022年1月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-12-31-year_end" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-12-31-year_end">
  <p class="mr-8 min-w-[100px]">2021-12-31</p>
  <p>2022年にむけて</p>
</a>
<a hx-get="/blog/2021-12-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-12-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-12-31</p>
  <p>2021年12月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-12-31-bestbuy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-12-31-bestbuy">
  <p class="mr-8 min-w-[100px]">2021-12-31</p>
  <p>2021年買って良かったモノ</p>
</a>
<a hx-get="/blog/2021-11-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-11-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-11-30</p>
  <p>2021年11月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-10-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-10-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-10-31</p>
  <p>2021年10月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-09-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-09-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-09-30</p>
  <p>2021年9月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-08-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-08-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-08-31</p>
  <p>2021年8月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-07-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-07-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-07-31</p>
  <p>2021年7月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-06-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-06-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-06-30</p>
  <p>2021年6月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-05-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-05-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-05-31</p>
  <p>2021年5月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-04-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-04-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-04-30</p>
  <p>2021年4月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-03-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-03-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-03-31</p>
  <p>2021年3月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-02-28-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-02-28-monthly_contents">
  <p class="mr-8 min-w-[100px]">2021-02-28</p>
  <p>2021年2月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-01-31-think_about_hobby" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-01-31-think_about_hobby">
  <p class="mr-8 min-w-[100px]">2021-01-31</p>
  <p>趣味には3タイプあるらしい</p>
</a>
<a hx-get="/blog/2021-01-31-montyly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-01-31-montyly_contents">
  <p class="mr-8 min-w-[100px]">2021-01-31</p>
  <p>2021年1月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2021-01-02-want_to_buy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2021-01-02-want_to_buy">
  <p class="mr-8 min-w-[100px]">2021-01-02</p>
  <p>2021年に買いたくなるであろうモノ</p>
</a>
<a hx-get="/blog/2020-12-31-year_end" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-12-31-year_end">
  <p class="mr-8 min-w-[100px]">2020-12-31</p>
  <p>2021年にむけて</p>
</a>
<a hx-get="/blog/2020-12-31-monthly_content" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-12-31-monthly_content">
  <p class="mr-8 min-w-[100px]">2020-12-31</p>
  <p>12月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2020-12-31-bestbuy" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-12-31-bestbuy">
  <p class="mr-8 min-w-[100px]">2020-12-31</p>
  <p>2020年買って良かったモノ</p>
</a>
<a hx-get="/blog/2020-11-30-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-11-30-monthly_contents">
  <p class="mr-8 min-w-[100px]">2020-11-30</p>
  <p>11月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2020-10-31-monthly_contents" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-10-31-monthly_contents">
  <p class="mr-8 min-w-[100px]">2020-10-31</p>
  <p>10月のコンテンツ消費</p>
</a>
<a hx-get="/blog/2020-09-26-my-first-k8s" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-09-26-my-first-k8s">
  <p class="mr-8 min-w-[100px]">2020-09-26</p>
  <p>初めてのk8s その1</p>
</a>
<a hx-get="/blog/2020-07-24-born_baby_3" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-07-24-born_baby_3">
  <p class="mr-8 min-w-[100px]">2020-07-24</p>
  <p>臨月の記録その3</p>
</a>
<a hx-get="/blog/2020-06-18-born_baby_2" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-06-18-born_baby_2">
  <p class="mr-8 min-w-[100px]">2020-06-18</p>
  <p>臨月の記録その2</p>
</a>
<a hx-get="/blog/2020-06-16-born_baby" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-06-16-born_baby">
  <p class="mr-8 min-w-[100px]">2020-06-16</p>
  <p>臨月の記録その1</p>
</a>
<a hx-get="/blog/2020-05-16-my-chair" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-05-16-my-chair">
  <p class="mr-8 min-w-[100px]">2020-05-16</p>
  <p>給付金の10万円をアテにして椅子を買った</p>
</a>
<a hx-get="/blog/2020-05-06-earthquake" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-05-06-earthquake">
  <p class="mr-8 min-w-[100px]">2020-05-06</p>
  <p>最近地震多くて思い出したけど、災害準備について調べようとしてたんだった調べた</p>
</a>
<a hx-get="/blog/2020-05-04-emergency" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-05-04-emergency">
  <p class="mr-8 min-w-[100px]">2020-05-04</p>
  <p>緊急事態宣言が延長された</p>
</a>
<a hx-get="/blog/2020-05-03-custom-layout" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-05-03-custom-layout">
  <p class="mr-8 min-w-[100px]">2020-05-03</p>
  <p>pagenateとか色々カスタムしてみた</p>
</a>
<a hx-get="/blog/2020-05-02-migrate-blog" hx-target="#main-content" hx-push-url="true" class="flex flex-row mb-8 items-baseline hover:text-rorange" href="/blog/2020-05-02-migrate-blog">
  <p class="mr-8 min-w-[100px]">2020-05-02</p>
  <p>はてなブログからJekyll + Github Pagesに移行した</p>
</a>
