@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* fade in effect for contents */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(20px);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* dotted underline for header and link in blog entry */
#blog-entry h3,
#blog-entry h3 a { 
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  text-decoration-color: #fd8850;
}

#blog-entry li a,
#blog-entry p a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: #3aafb9;
}

/* dotted underline for link and button in blueskye comment section */
#bsky-link a, 
#show-more {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  text-decoration-color: #3aafb9;
}

#bsky-link a:hover,
#show-more:hover {
  color: #3aafb9;
}

p > code {
  background-color: #3C4043;
  color: #fffcf9;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 2px;
  border: 0.5px solid #3C4043;
}
